name: CI Build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: |
        set -o pipefail
        curl --fail --location https://raw.githubusercontent.com/MiSTer-unstable-nightlies/Build-Automation_MiSTer/main/build.sh | bash - 2>&1 | tee build.log
      env:
        REPOSITORY: ${{ github.repository }}
        GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}

    - name: Prepare successful build artifacts
      if: success()
      run: echo "${{ github.sha }}" > commit.txt

    - name: Upload build log to release
      if: success()
      uses: softprops/action-gh-release@v1
      with:
        files: |
          build.log
          commit.txt
        tag_name: unstable-builds
        token: ${{ secrets.GH_RELEASE_TOKEN }}

    - name: Prepare failed build artifacts
      if: failure()
      run: |
        cp build.log failed-build.log
        echo "${{ github.sha }}" > failed-commit.txt

    - name: Upload failed build logs to release
      if: failure()
      uses: softprops/action-gh-release@v1
      with:
        files: |
          failed-build.log
          failed-commit.txt
        tag_name: unstable-builds
        token: ${{ secrets.GH_RELEASE_TOKEN }}
